<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{pet.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{pet.list.headline}]]</h1>
                <div>
                    <a th:href="@{/pets/add}" class="btn btn-primary ms-2">[[#{pet.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${pets.empty}">[[#{pet.list.empty}]]</div>
            <div th:if="${!pets.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{pet.id.label}]]</th>
                            <th scope="col">[[#{pet.name.label}]]</th>
                            <th scope="col">[[#{pet.birthDate.label}]]</th>
                            <th scope="col">[[#{pet.owner.label}]]</th>
                            <th scope="col">[[#{pet.type.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pet : ${pets}">
                            <td>[[${pet.id}]]</td>
                            <td>[[${pet.name}]]</td>
                            <td>[[${pet.birthDate}]]</td>
                            <td>[[${pet.owner}]]</td>
                            <td>[[${pet.type}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/pets/edit/{id}(id=${pet.id})}" class="btn btn-sm btn-secondary">[[#{pet.list.edit}]]</a>
                                    <form th:action="@{/pets/delete/{id}(id=${pet.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{pet.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
