<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{vet.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{vet.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/vets}" class="btn btn-secondary">[[#{vet.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('vet')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='vet', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vet', field='firstName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vet', field='lastName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='vet', field='vetSpecialtySpecialties', type='multiselect')}" />
                <input type="submit" th:value="#{vet.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
