<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{owner.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{owner.add.headline}]]</h1>
                <div>
                    <a th:href="@{/owners}" class="btn btn-secondary">[[#{owner.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('owner')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='owner', field='firstName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='owner', field='lastName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='owner', field='address')}" />
                <div th:replace="~{fragments/forms::inputRow(object='owner', field='city')}" />
                <div th:replace="~{fragments/forms::inputRow(object='owner', field='telephone')}" />
                <input type="submit" th:value="#{owner.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
